.svg-arrow {
    background: url("svg/sprite.css-64c4929c.svg") 100% 0 no-repeat;
}

.svg-arrow-dims {
    width: 18px;
    height: 18px;
}

.svg-insta-logo {
    background: url("svg/sprite.css-64c4929c.svg") 0 0 no-repeat;
}

.svg-insta-logo-dims {
    width: 20px;
    height: 21px;
}

