* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: lato;
  src: url(./assets/fonts/font/Lato-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: lato;
  src: url(./assets/fonts/font/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: lato;
  src: url(./assets/fonts/font/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: lato;
  src: url("./assets/fonts/font/Lato-Black.ttf");
  font-weight: 900;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: lato;
  background-color: #121212;
}

.skill-circle {
  overflow: hidden;
}

.only-mobile {
  display: none;
}

.page-title {
  color: var(--Foundation-White-Light, #fefefe);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}

.section-desc {
  display: block;
  margin-top: 18px;
  color: var(--foundation-white-dark-active, #707070);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  letter-spacing: 1px;
  text-transform: capitalize;
}

@media only screen and (max-width: 1300px) {
  .container {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .only-desktop {
    display: none;
  }

  .only-mobile {
    display: block;
  }

  .right-action {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
