.about-me-info{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    background-color: #fd6f00;
    border-radius: 18px;
    padding: 50px 0px 40px 0px;
}

.about-me-img-bg {

  width: 450px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 261.5px 261.5px 12px 12px;
  background: rgb(0, 0, 0);
  position: relative;
}

.about-me-img-bg img {
  position: absolute;
  bottom: 0px;
  left: 25px;
}

.about-me-info h2{
    margin-top: 0px;
    color: black;
    font-weight: 900;
    font-size: 55px;
}

.about-me-info h4{
    margin-top: 20px;
    color: #000;
    font-weight: 900;
    font-size: 18px;
}

.about-me-info p{
    margin-top: 25px;
    color: black;;
    font-size: 20px;
    font-weight: 400;
    width: 650px;
}


.about-me-info button,
.about-me-info a {
  margin-top: 50px;
  display: flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #000;
  color: #fff;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  border: 1px solid #fd6f00;
  cursor: pointer;
  transition: 0.8s;
  text-decoration: none;
}


.about-me-info button:hover,
.about-me-info a:hover {
  background: transparent;
  color: #000;
  border: 2px solid #000;
}